<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="bg">
    <div>
        <div class="container row">
            <div class="col-md-3" style="background-color:white; padding:initial; margin-top:10%;
                                         margin-left:80%">
                <div style="background-color:#f9fafb;
                                 border-bottom:1px solid #ebf0f5;">
                    <img class="image-responsive" src="/assets/Image/Logo.png" alt="" width="100%" style="overflow:hidden;  padding:30px 30px 30px 30px" />
                </div>
                <form class="container" {{action "signIn" changeset on='submit'}}>
                    <br>
                    <div class="form-group">
                        <div class="input-group">
                            {{input id="email" type="email" value=changeset.email class="form-control" name="email"
                            placeholder="Email Address"}}
                        </div>
                        <br>
                        <div class="input-group">
                            {{input id="password" type="password" value=changeset.password class="form-control"
                            placeholder="Password"}}
                        </div>
                        <br>
                        <ul class="showError">
                            {{#each changeset.errors as |errorSet|}}
                            {{#each errorSet.validation as |error|}}
                             <li>{{error}}</li>
                            {{/each}}
                            {{/each}}
                        </ul>

                        <button type="submit" class="btn btn-primary btn-block link" style="background-color: #41aaaa">Sign
                            In

                        </button>
                        <button class="btn btn-link btn-block" style="padding: 16px; color:#41aaaa;">Forgot your
                            password?</button>
                        <button class="btn btn-link" style=" color:#41aaaa;"><small>Contact Us</small></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>

{{outlet}}